{% extends "base.html" %}
{% block title %}{{ article.title }}{% endblock %}
{% block content %}
<section id="content">
        <article>
                <header>
                        <h1>
                                <a href="{{ pagename }}"
                                        rel="bookmark"
                                        title="Permalink to {{ article.title|striptags }}">
                                        {{ article.title}}
                                </a>
                                {% include 'twitter.html' %}
                        </h1>
                </header>
                <div class="entry-content">
                <!--div class="well">
                      {% include 'article_infos.html' %}
                </div-->
                {{ article.content }}
                </div><!-- /.entry-content -->
                {% if DISQUS_SITENAME %}
                <div class="comments">
                <h2>Comments !</h2>
                        <div id="disqus_thread"></div>
                        <script type="text/javascript">
                           var disqus_identifier = "{{ article.url }}";
                           (function() {
                                var dsq = document.createElement('script');
                                dsq.type = 'text/javascript'; dsq.async = true;
                                dsq.src = 'https://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
                                (document.getElementsByTagName('head')[0] ||
                                 document.getElementsByTagName('body')[0]).appendChild(dsq);
                          })();
                        </script>
                </div>
                {% endif %}
        </article>
	<hr />
<div id="disqus_thread"></div>
<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://https-bikezen-ir.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

        <hr />
        <p><center >
                <a href="{{ SITEURL }}/pages/support">از ترجمه و چاپ نه فقط فصل‌های بعدی، که کتاب‌های بعدی حمایت کنید</a>
        </center></p>

</section>
{% endblock %}
